<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    
    @RenderSection("Css",false)
    <link rel="stylesheet" href="~/css/style.css">
    <title>ShopApp</title>
</head>

<body>

    @await Html.PartialAsync("_Navbar")

    @RenderSection("Header",false)


    <main class="my-3">
        <div class="container">
            @if (TempData["message"] != null)
            {
                <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("message"))" ></partial>
            }
            @RenderBody()
        </div>
    </main>

    <footer class="py-5 bg-dark text-white text-center">
        Shop App ®@DateTime.Now.Year
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    @RenderSection("Scripts",false)
    

</body>

</html>